#indexBody main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F9FAFF;
  text-align: center;
}
#indexBody main .wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 8px;
}
#indexBody main .wrapper .brand .indexTitle {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 800;
  color: #33353B;
}
#indexBody main .wrapper .input-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #585A61;
  gap: 8px;
}
#indexBody main .wrapper .input-box input {
  border-radius: 16px;
  padding: 4px 16px;
  border: 1px;
}
#indexBody main .wrapper .input-box .remember-forgot {
  padding-top: 16px;
}
#indexBody main .wrapper .actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#indexBody main .wrapper .actions button {
  border-radius: 8px;
  border: 1px;
  color: white;
  background-color: #3F5CC1;
}
#indexBody main .wrapper .actions button a {
  color: #F9FAFF;
  text-decoration: none;
}

#salonBody header .headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 2rem;
  height: 72px;
}
#salonBody header .headerWrapper img {
  width: 40px;
  height: 40px;
}
#salonBody header .headerWrapper .user {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  border: #3F5CC1;
  border-radius: 16px;
  border: solid 1px;
  padding: 0px 8px;
}
#salonBody header .headerWrapper .user .inicialUsuario {
  background-color: #E0E5F8;
  border-radius: 30px;
  padding: 4px 6px;
}
#salonBody .mainSalon {
  max-width: 1200px;
  margin: 0 auto;
}
#salonBody .mainSalon h1 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #33353B;
}
#salonBody .mainSalon .title {
  margin: 16px;
}
#salonBody .mainSalon .gridContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 1rem;
}
#salonBody .mainSalon .gridContainer .abierta {
  background-color: #3F5CC1;
}
#salonBody .mainSalon .gridContainer .porAbrir {
  background-color: #909297;
}
#salonBody .mainSalon .gridContainer .mesa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 0.5rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#salonBody .mainSalon .gridContainer .mesa:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}
#salonBody .mainSalon .gridContainer .mesa a {
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
}
#salonBody .navBar {
  background-color: #3F5CC1;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
#salonBody .navBar .informacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: solid transparent;
  color: #F9FAFF;
  padding: 14px 16px;
  font-size: 16px;
}
#salonBody .navBar .informacion:hover {
  background-color: #F9FAFF;
  color: #3F5CC1;
}
#salonBody .navBar .cerrarSesion a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  color: #F9FAFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  width: auto;
  gap: 4px;
}
#salonBody .navBar .cerrarSesion a:hover {
  background-color: #F9FAFF;
  color: #3F5CC1;
}
#salonBody #modalInformacion .modal-header {
  display: flex;
  justify-content: space-between;
}
#salonBody #modalInformacion .modal-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  background-color: #e9e9e9;
}
#salonBody #modalInformacion .modal-body .infoGeneral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#menuBody {
  color: #33353B;
  background-color: #F9FAFF;
}
#menuBody header {
  position: sticky;
  width: 100%;
}
#menuBody header .comanda {
  display: flex;
  justify-content: start;
  margin: 8px;
}
#menuBody header .comanda a {
  text-decoration: none;
}
#menuBody header .comanda button {
  font-size: 24px;
  background-color: transparent;
  color: black;
  border: 0px;
  width: auto;
  height: 24px;
}
#menuBody main .title {
  margin: 0 16px;
  position: sticky;
}
#menuBody main .title h1 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #33353B;
}
#menuBody main .categories {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  overflow: scroll;
  margin: 24px 8px;
  border-radius: 8px;
  position: sticky;
}
#menuBody main .categories a {
  text-decoration: none;
  color: #33353B;
  font-size: 20px;
}
#menuBody main .categories a .divItem {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: start;
  padding: 8px 16px;
  background-color: white;
  text-align: center;
  gap: 4px;
  border-radius: 8px;
}
#menuBody main .categories a .divItem p {
  margin-bottom: 0px;
}
#menuBody main .categories a:hover {
  border: solid 1px;
  border-radius: 8px;
  border-color: #3F5CC1;
}
#menuBody main .categories a:active {
  border: solid 1px;
  border-radius: 8px;
  border-color: #3F5CC1;
}
#menuBody main .productList {
  margin: 16px;
  display: flex;
  flex-flow: column;
  gap: 24px;
}
#menuBody main .productList .optionsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
#menuBody main .productList .optionsGrid .productCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: #F9FAFF;
  padding: 12px 8px;
  gap: 20px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#menuBody main .productList .optionsGrid .productCard .productCard__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 8px;
  border-left: solid 2px #3F5CC1;
}
#menuBody main .productList .optionsGrid .productCard .productCard__info .product__name {
  font-size: 20px;
  margin-bottom: 0px;
}
#menuBody main .productList .optionsGrid .productCard .productCard__info .product__price {
  font-size: 14px;
  color: #585A61;
  margin-bottom: 0px;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  align-items: center;
  background-color: #E0E5F8;
  border-radius: 8px;
  flex-basis: 50%;
  padding: 8px;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions .modify {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions .modify .message {
  padding: 8px;
  border: solid 1px #3F5CC1;
  border-radius: 16px;
  background-color: #F9FAFF;
  height: 40px;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions .modify .message button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions .modify .message span {
  font-weight: 300;
  color: #33353B;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions .modify .wrapperCantidad {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8px;
  padding: 4px 4px;
  border: solid 1px #3F5CC1;
  border-radius: 16px;
  background-color: #F9FAFF;
  height: 40px;
  width: 100%;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions .modify .wrapperCantidad .innerIcon {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  border-radius: 16px;
  border: solid transparent;
  cursor: pointer;
  color: #33353B;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions .modify .wrapperCantidad .input-qty {
  border: transparent;
  max-width: 24px;
  text-align: center;
  background-color: transparent;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions .send {
  background-color: #3F5CC1;
  border: solid transparent;
  padding: 8px 12px;
  border-radius: 16px;
  color: #F9FAFF;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
#menuBody main .productList .optionsGrid .productCard .productCard__actions .send span {
  font-weight: 300;
}
#menuBody .navBar {
  background-color: #3F5CC1;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
#menuBody .navBar .botonNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  border: solid transparent;
  color: #F9FAFF;
  padding: 14px 16px;
  font-size: 16px;
}
#menuBody .navBar .botonNavbar p {
  margin-bottom: 0px;
}
#menuBody .navBar .botonNavbar:hover {
  background-color: #F9FAFF;
  color: #3F5CC1;
}
#menuBody .navBar a {
  display: flex;
  flex-direction: row;
  color: #F9FAFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  width: auto;
  gap: 4px;
}
#menuBody .navBar a:hover {
  background-color: #F9FAFF;
  color: #3F5CC1;
}
#menuBody .navBar a:active {
  background-color: #F9FAFF;
  color: #3F5CC1;
}
#menuBody .modal {
  color: #33353B;
}
#menuBody #modalInfo .modal-header {
  display: flex;
  justify-content: space-between;
}
#menuBody #modalInfo .modal-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  background-color: #e9e9e9;
}
#menuBody #modalInfo .modal-body .comensales {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
}
#menuBody #modalInfo .modal-body .comensales div {
  width: 50%;
}
#menuBody #modalInfo .modal-body .infoGeneral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#menuBody #modalMessage .modal-body {
  margin-bottom: 16px;
}
#menuBody #modalMessage .modal-body #comentario {
  width: 100%;
  height: 56px;
}

#pruebas .gridContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 1rem;
}
#pruebas .gridContainer .mesa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#pruebas .gridContainer .mesa:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}
#pruebas .gridContainer .mesa:focus {
  background-color: blueviolet;
}
#pruebas .gridContainer .mesa a {
  text-decoration: none;
  color: white;
}
#pruebas .gridContainer .mesa a:active {
  background-color: blueviolet;
}
#pruebas .gridcontainer .mesa:active {
  background-color: aqua;
}
#pruebas .gridcontainer .mesa:focus {
  color: blueviolet;
}

#salonBody .navBar .informacion #iconFormat .fondoBlue, #salonBody .navBar .cerrarSesion #iconFormat .fondoBlue, #menuBody header .comanda a #iconFormat .fondoBlue, #menuBody main .categories a .divItem #iconFormat .fondoBlue, #menuBody .navBar .botonNavbar #iconFormat .fondoBlue {
  background-color: #E0E5F8;
  padding: 4px;
  border-radius: 30px;
  width: min-content;
  border: 1px;
}
#salonBody .navBar .informacion #iconFormat .fondoBlanco, #salonBody .navBar .cerrarSesion #iconFormat .fondoBlanco, #menuBody header .comanda a #iconFormat .fondoBlanco, #menuBody main .categories a .divItem #iconFormat .fondoBlanco, #menuBody .navBar .botonNavbar #iconFormat .fondoBlanco {
  background-color: #fff;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#salonBody .navBar .informacion #iconFormat span, #salonBody .navBar .cerrarSesion #iconFormat span, #menuBody header .comanda a #iconFormat span, #menuBody main .categories a .divItem #iconFormat span, #menuBody .navBar .botonNavbar #iconFormat span {
  font-size: 24px;
  font-weight: 300;
  border-radius: 30px;
  color: #33353B;
}

#salonBody .navBar .informacion:hover #iconFormat .fondoBlue, #salonBody .navBar .cerrarSesion a:hover #iconFormat .fondoBlue, #menuBody main .categories a:hover #iconFormat .fondoBlue, #menuBody main .categories a:active #iconFormat .fondoBlue, #menuBody .navBar .botonNavbar:hover #iconFormat .fondoBlue, #menuBody .navBar a:hover #iconFormat .fondoBlue, #menuBody .navBar a:active #iconFormat .fondoBlue {
  background-color: transparent;
}
#salonBody .navBar .informacion:hover #iconFormat .fondoBlanco, #salonBody .navBar .cerrarSesion a:hover #iconFormat .fondoBlanco, #menuBody main .categories a:hover #iconFormat .fondoBlanco, #menuBody main .categories a:active #iconFormat .fondoBlanco, #menuBody .navBar .botonNavbar:hover #iconFormat .fondoBlanco, #menuBody .navBar a:hover #iconFormat .fondoBlanco, #menuBody .navBar a:active #iconFormat .fondoBlanco {
  background-color: #3F5CC1;
}
#salonBody .navBar .informacion:hover #iconFormat span, #salonBody .navBar .cerrarSesion a:hover #iconFormat span, #menuBody main .categories a:hover #iconFormat span, #menuBody main .categories a:active #iconFormat span, #menuBody .navBar .botonNavbar:hover #iconFormat span, #menuBody .navBar a:hover #iconFormat span, #menuBody .navBar a:active #iconFormat span {
  color: #F9FAFF;
}

#salonBody #modalInformacion .modal-footer .cerrar {
  border-radius: 8px;
  border: 1px;
  padding: 4px 8px;
  color: white;
  background-color: #3F5CC1;
}
#salonBody #modalInformacion .modal-footer .cerrar a {
  color: #F9FAFF;
  text-decoration: none;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* p {
  margin-bottom: 0px;
}

/*# sourceMappingURL=styles.css.map */
