#indexBody{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: $color__lightblue;
        text-align: center;

        .wrapper{
            div{
                margin-bottom: 8px;
            }
           

            .input-box{
                height: 20px;
                
                input{
                    border-radius: 16px;
                    padding: 4px 16px;
                    border: 1px; 
                }
            }
            .remember-forgot{
                padding-top: 16px;
            }
            button{
                border-radius: 8px;
                border: 1px;
                color: #ffff;
                background-color: $color__blue;
            }
        }

    }
    
   
}
