#indexBody{
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: $color__blue__10;
        text-align: center;

        .wrapper{
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 8px;

            .brand{
                .indexTitle{
                    font-family: $fontFamily__title;
                    font-weight: 800;
                    color: $color__gray__100;
                }
            }
            .input-box{
                display: flex;
                flex-direction: column;
                text-align: left;
                color: $color__gray__80;
                gap: 8px;
                
                input{
                    border-radius: 16px;
                    padding: 4px 16px;
                    border: 1px; 
                }
                .remember-forgot{
                    padding-top: 16px;
                }
            }
            .actions{
                display: flex;
                flex-direction: column;
                gap: 8px;
                
                button{
                    border-radius: 8px;
                    border: 1px;
                    color: #ffff;
                    background-color: $color__blue__80;
                    a{
                        color: $color__blue__10;
                        text-decoration: none;
                    }
                }
            }
            
            
           

            
            
        }

    }
    
   
}
