#menuBody{
    color: $color__gray__100;
    background-color: $color__blue__10;

    header{
        position: sticky;
        width: 100%;
        .comanda{
            display: flex;
            justify-content: start;
            margin: 8px;
            a{
                text-decoration: none;
                #iconFormat{
                    @extend%iconFormat;
                }
            }
     
            
            button{
                font-size: 24px;
                background-color: transparent;
                color: black;
                border: 0px;
                width: auto;
                height: 24px;    
            }
        }
    }
    main{
        .title{
            margin: 0 16px;
            position: sticky;
            
            h1{
                font-family: $fontFamily__title;
                font-weight: 800;  
                font-size: $fontSize__h1;
                color: $color__gray__100;
            }
        }
        
        .categories{
            display: flex;
            flex-flow: row nowrap;
            gap: 8px;
            overflow: scroll;
            margin: 24px 8px;
            border-radius: 8px;
            position: sticky;
                
            a{
                text-decoration: none;
                color: $color__gray__100;
                font-size: $fontSize__m;


                .divItem{
                    width: max-content;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    align-items: start;
                    padding: 8px 16px;
                    background-color: #ffff;
                    text-align: center;
                    gap: 4px;
                    border-radius: 8px;
                    #iconFormat{
                        @extend%iconFormat;
                    }
                    p{
                        margin-bottom: 0px;
                    }
                }
                &:hover{
                   
                    border: solid 1px;
                    border-radius: 8px;
                    border-color: $color__blue__80;
                    #iconFormat{
                        @extend%iconFormat__hover;
                    }    
                }
                &:active{
                    
                    border: solid 1px;
                    border-radius: 8px;
                    border-color: $color__blue__80;
                    #iconFormat{
                        @extend%iconFormat__hover;
                    }    
                }    
            }    
        }
        
        .productList{
            margin: 16px;
            display: flex;
            flex-flow: column;
            gap: 24px;

                .optionsGrid{
                    display: grid;
                    gap: 1rem;
                    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
                    
            
                    .productCard {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: flex-start;
                        background: $color__blue__10;
                        padding: 12px 8px;
                        gap: 20px;
                        box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
                        height: 100%;
                        width: 100%;
                        border-radius: 8px;
                        transition: all 500ms;
                        overflow: hidden;
                    
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;

                        .productCard__info{
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            padding: 8px;
                            border-left: solid 2px $color__blue__80;
                            .product__name{
                                font-size: $fontSize__m;
                                margin-bottom: 0px;
                            }
                            .product__price{
                                font-size: $fontSize__xs;
                                color: $color__gray__80;
                                margin-bottom: 0px;
                            }

                        }

                        .productCard__actions{
                            display: flex;
                            flex-flow: column nowrap;
                            gap: 8px;
                            align-items: center;
                            background-color: $color__blue__20;
                            border-radius: 8px;
                            flex-basis: 50%;
                            padding: 8px;

                            .modify{
                                display: flex;
                                flex-direction: row;
                                gap: 8px;  
                                width: 100%;
                                .message{
                                    padding: 8px;
                                    border: solid 1px $color__blue__80;
                                    border-radius: 16px;
                                    background-color: $color__blue__10;
                                    height: 40px;
                                    button{
                                        width: 100%;
                                        height: 100%;
                                        background-color: transparent;
                                        border: none;
                                    }

                                    span{
                                        font-weight: 300;
                                    }
                                }
                                .wrapperCantidad{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-evenly;
                                    gap: 8px;
                                    padding: 4px 4px;
                                    border: solid 1px $color__blue__80;
                                    border-radius: 16px;
                                    background-color: $color__blue__10;
                                    height: 40px;
                                    width: 100%;
                                    
                                        .innerIcon{
                                            display: flex;
                                            background-color: #ffffff;
                                            align-items: center;
                                            border-radius: 16px;
                                            border: solid transparent;
                                            cursor: pointer;
                                            
                                        }
                                        .input-qty{
                                            border: transparent;
                                            max-width: 24px;
                                            text-align: center;
                                            background-color: transparent;
                                        }  
                                }    
                            }
                            .send{
                                background-color: $color__blue__80;
                                border: solid transparent;
                                padding: 8px 12px;
                                border-radius: 16px;
                                color: $color__blue__10;
                                font-size: $fontSize__s;
                                display: flex;
                                justify-content: center;
                                gap: 8px;
                                width: 100%;
                                span{
                                    font-weight: 300;
                                }
                            }      
                        }   
                    }
                }
        }
    }

    .navBar{
        background-color: $color__blue__80;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;


        .botonNavbar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background-color: transparent;
            border: solid transparent;
            color: $color__blue__10;
            padding: 14px 16px;
            font-size: $fontSize__s;
            
            p{
                margin-bottom: 0px;
            }

            #iconFormat{
                @extend%iconFormat;
            
            }
            &:hover{
                background-color: $color__blue__10;
                color: $color__blue__80;
                #iconFormat{
                    @extend%iconFormat__hover;

                }  
            }

        }
          
        a{  
            display: flex;
            flex-direction: row;
            color: $color__blue__10;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: $fontSize__xs;
            font-weight: 400;
            width: auto;
            gap: 4px;

            &:hover{
                background-color: $color__blue__10;
                color: $color__blue__80;
                #iconFormat{
                    @extend%iconFormat__hover;
                }  
            }
            &:active{
                background-color: $color__blue__10;
                color: $color__blue__80;
                #iconFormat{
                    @extend%iconFormat__hover;
                }  
            }
        }
    }
    
        .modal{
            color: $color__gray__100;
        }
    
        #modalInfo{
            .modal-header{
                display: flex;
                justify-content: space-between;
            }
            .modal-body{
                display: flex;
                flex-direction: column;
                gap: 16px;
                justify-content:space-between;
                background-color: #e9e9e9;
                
                .comensales{
                    display: flex;
                    flex-direction: row;    
                    gap: 8px;
                    width: 100%;
                    justify-content: space-around;
                    background-color: #ffff;
                    border-radius: 8px;
                    padding: 8px;

                    div{
                        width: 50%;
                    }     
                }
                .infoGeneral{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }

        #modalMessage{
            
            .modal-body{
                margin-bottom: 16px;
                #comentario{
                    width: 100%;
                    height: 56px;
                }
            }
        }
    
}