#salonBody{
    header{
        .headerWrapper{
            display: flex;
            justify-content: space-between;
            padding: 16px;
            font-size: 2rem;
            height: 72px;
            
            .user{
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
                font-size: $fontSize__xxs;
                border: $color__blue__80;
                border-radius: 16px;
                border: solid 1px;
                padding: 0px 8px;

                .inicialUsuario{
                    background-color: $color__blue__20;
                    border-radius: 30px;
                    padding: 4px 6px;
                }
            }
        }
    }

    .mainSalon{
        max-width: 1200px;
        margin: 0 auto;
        h1{
            font-family: $fontFamily__title;
            font-weight: 800;
            font-size: $fontSize__h1;
            color: $color__gray__100;
        }
        .title{
            margin: 16px;
        }
        
        .gridContainer{
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            margin: 1rem;

            .abierta{
                background-color: $color__blue__80 ;
            }
            .porAbrir{
                background-color: $color__gray__60 ;
            }
    
            .mesa {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: $fontSize__h2;
                padding: 0.5rem;
                color: #fff;
                box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                transition: all 500ms;
                overflow: hidden;
            
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                
    
                &:hover{
                    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
                    transform: translateY(-3px) scale(1.1);
                }
                a{
                    text-decoration: none;
                    color: #ffff;
                    width: 100%;
                    text-align: center;
                }   
             }
        }
    }    
    .navBar{
        background-color: $color__blue__80;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        div{
            .informacion{
                display: flex;
                flex-direction: row;
            }
            #iconFormat{
                @extend%iconFormat;
            
            }   

        }
        
        a{  
            display: flex;
            flex-direction: row;
            color: $color__blue__10;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: $fontSize__xs;
            font-weight: 400;
            width: auto;
            gap: 4px;

            &:hover{
                background-color: $color__blue__10;
                color: $color__blue__80;
                #iconFormat{
                    @extend%iconFormat__hover;

                }  
            }
            &:active{
                background-color: $color__blue__10;
                color: $color__blue__80;
                #iconFormat{
                    @extend%iconFormat__hover;
                }  
            }
        }
    }

    
   
    

    
      
    
}