$color__blue__80:#3F5CC1;
$color__blue__60:#A8B8F0;
$color__blue__20: #E0E5F8;
$color__blue__10: #F9FAFF;
$color__yellow__90: #FECA08;
$color__yellow__20: #FFEFB6;
$color__lightblue: #F8F9FB;
$color__gray__100: #33353B;
$color__gray__80: #585A61;
$color__gray__60: #909297;
$color__gray__20: #E2E2E2;
$color__gray__10: #F7F7F7;


$fontFamily__text:"Inter", sans-serif;
$fontFamily__title: "Roboto Flex", sans-serif;

$fontSize__xxs:12px;
$fontSize__xs:14px;
$fontSize__s:16px;
$fontSize__m:20px;
$fontSize__h1:32px;
$fontSize__h2:24px;