@import"variables";
@import"index";
@import"salon";
@import"menu";
@import"pruebas";
@import"extend";


*{
    font-family: $fontFamily__text ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    p{
        margin-bottom: 0px  ;
    }
}



